/* GERAL */

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.telas-iniciais{
    background-color: #F2EDC3;
}

a:link{ 
text-decoration:none; 
} 

/* Página abertura */

.elementos{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    /* padding: 40 px; */
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

#seta{
    display: flex;
    justify-content: flex-start;
}

.id__visual{
    width: 50px;
}

/* Página cadastro */

.logo{
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 0%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.dados{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 5%;
    margin: 5% auto;
    margin-top: 2%;
    width: 300px;
    text-align: center;
    background-color: #FAF4C2;
    position: relative;
}
.dados__voltar{
    position: absolute;
    left: 10px;
    top: 10px;
}

h1{
    color: #45341A;
    font-size: 24px;
    font-family: sans-serif;
}


.form__cadastro, .form__login{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}


.form__cadastro input, .form__login input, .listas__nova input{
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

.criar-conta{
    background-color: 	#EA7932;
    color: white;
    padding: 10px 45px;
    margin-top: 10px;
    border-radius: 3px;
    border-style: none;
    text-align: center;
    align-items: baseline;
    width: 180px;
    display: flex;
    justify-content: center;
    position: relative;
}

.entrar{
    background-color: 	#D1CF3D;
    color: black;
    padding: 10px 45px;
    margin-top: 10px;
    border-style: none;
    border-radius: 3px;
    width: 180px;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Listas */

.header{
    background-color: #574436;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
}

.header__usuario{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin: 20px auto;
    color: #F8EB94;   
}

.header__nome{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin: 20px auto;
    color: #F8EB94;
    
}

.header__logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin: 15px auto; 
}

.listas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    padding-top: 100px;
    position: relative;
}

.lista__nova{
    position: absolute;
    right: 10px;
    top: 10px;
    padding-top: 110px; 
}

.listas__linhas{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 auto;
    width: 500px;
    padding-top: 120px; 
    list-style: none;
    padding: 1px 5px;
    border-color: aqua;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    position: relative;
}

.inicio{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.final{
    display: flex;
    justify-content: flex-end;
}

.linha__1, .linha__2, .linha__3{
    display: flex;
    flex-direction: row;
    padding-top: 20px;  
}

.tarefas, .subtarefas{
    list-style: none;
}

.tarefas__adicionar{
    display: flex;
    justify-content: flex-end;
}

.tarefas__deletar{
    display: flex;
    justify-content: flex-end;
}

/* Criar listas */

.listas__criar{
    height: 200px;
    width: 500px;
    position: relative;
}

.listas__nova{
    padding-top: 2px;
    position: absolute;
}

.listas__prontas{
    padding-top: 300px;
}

.listas__nome, .listas__adicionar-tarefa{
    width: 490px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-color: #EA7932;
    border-style: solid;
    border-radius: 4px;
    border-width: 0.5px;
    padding-top: 5px;
    padding-bottom: 5px; 
    color: #45341A;
}

.listas__botoes{
    display: flex;
    justify-content: center;
    flex-direction: row;  
    padding: 2px;  
}

.listas__btn-criar{
    background-color: 	#EA7932;
    color: white;
    padding: 10px 30px;
    margin-right: 5px;
    border-radius: 3px;
    border-style: none;
    text-align: center;   
}

.listas__btn-cancelar{
    background-color: 	#D1CF3D;
    color:#45341A;
    padding: 10px 45px;
    margin-right: 5px;
    border-style: none;
    border-radius: 3px;
}